:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --beckground-color: rgba(255, 255, 255, 1);
  --text-color: rgba(117, 117, 117, 1);
  --hero-color: rgba(47, 48, 58, 1);
  --button-color: rgba(245, 244, 250, 1);
  --button-text-color: #fff;
  --button-header-color: rgba(33, 150, 243, 1);
  --logo-color: rgb(245, 238, 238);
  --adress-color: rgba(255, 255, 255, 0.6);
  --comand-background-color: rgba(245, 244, 250, 1);
  --filter-color: #212121;
  --filter-item-color: #757575;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --icon-color: rgba(175, 177, 184, 1);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid var(--border-header-color);
}

.nav {
  display: flex;
}

.container-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .auth-nav1 {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--timing-function);
}

.auth-nav1:hover,
.auth-nav1:focus {
  color: var(--accent-color);
}

.auth-nav1:hover .hover-icon,
.auth-nav1:focus .hover-icon {
  fill: var(--accent-color);
}

.link {
  position: relative;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  opacity: 1;
}

.link:hover::after {
  opacity: 1;
}

.hover-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill var(--timing-function);
}

.hover-icon-one {
  width: 16px;
  height: 12px;
}

.logo-two {
  color: var(--accent-color);
}

.logo {
  color: var(--primary-text-color);
  margin: auto;
}

.logo-three {
  color: var(--logo-color);
}

.logo,
.logo-two,
.logo-three {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-header {
  margin-bottom: 20px;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  align-items: center;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 696px;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: var(--hero-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.button {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--beckground-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.hero-title {
  color: var(--beckground-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */